body{
background-image: url(dnsnc.jpg);
background-size: 100vw 100vh;
background-attachment: fixed;
margin:0;
font-family: monospace;
}

form{
	width: 500px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;

}

h2{
	color:#fff;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;

}

input{
	background:#D2DDE3;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}

#boton{
	background: #31384A;
	color: #fff;
	padding: 20px;
}

#boton:hover{
	cursor: pointer;
}

@media (max-width: 480px){
	form{
		width: 100%;
	}
}